<!DOCTYPE html>
<html>
<head>
  <title>Ejemplo</title>
   <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
</head>
<body>
    <header>
       <h1>"Welcome layout desde ejemplo" </h1>
    </header>
<%= yield %>
   
</body>
</html>
